$primary-color: #93278f;
$accent-color: #1b1464;
$background-color: #212121;
$links-color: #4834b4;
$card-color: #333333;
body {
  background-color: #212121 !important;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  height: 100vh;
  width: 100vw;
}

p,
h1,
h2,
span,
h3,
li {
  color: #fff;
  white-space: pre-line;
}

.navbar {
  background: linear-gradient(90deg, $primary-color, $accent-color);
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  > .container-fluid {
    justify-content: center !important;
    .nav-items {
      animation: navAppear ease 1s;
    }
    .nav-item > a {
      text-decoration: none;
      color: #fff;
      margin: 0 0.5rem;
      font-size: 24px;
      &.active {
        border-bottom: 1px #fff solid;
        padding: 1rem;
      }
    }
  }
}

.screen {
  height: calc(100% - 68px);
  padding: 0.5rem 2rem;
  h2 {
    text-transform: capitalize;
  }
  overflow-x: hidden;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: auto;
  text-align: center;
  img {
    width: 100%;
  }
}

.social-icons {
  font-size: 2.5rem;
  a {
    transition: color 250ms ease;
    color: #fff;
    padding: 0.5rem;
    &:hover {
      color: $primary-color;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}

.card {
  background-color: $card-color !important;
  border-radius: 1rem !important;
  transition: transform 250ms ease;
  &:hover {
    transform: scale(1.1);
  }
  // border: 1px #d9d9d9 solid;
  h2 {
    text-align: center;
  }
  img {
    max-height: 250px;
    object-fit: contain;
  }
}

.horizontal-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &.between {
    justify-content: space-between;
  }
  &.evenly {
    justify-content: space-evenly;
  }
  &.info {
    // flex-wrap: nowrap;
    div {
      min-width: 375px;
      width: 60%;
    }
    p {
      margin-left: 1rem;
    }
  }
}

.icon-container ion-icon {
  font-size: 2rem;
  padding: 0.5rem;
  color: white;
}

.app-icon {
  border-radius: 2rem;
  height: 250px;
  width: 250px;
}

.links-container a {
  padding: 0.5rem 1rem;
  color: $links-color;
  font-size: 1.5rem;
  &:hover {
    color: $primary-color;
  }
}

.carousel-indicators button {
  background-color: $primary-color !important;
}

.carousel-item {
  img {
    height: 450px;
    object-fit: contain;
  }
  p {
    color: $primary-color;
    font-weight: bold;
  }
}

.image-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 2;
  > img {
    display: none;
    max-height: 90%;
    object-fit: contain;
    max-width: 80%;
    &.visible {
      display: inline-block;
    }
  }
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  >.horizontal-container{
    flex: 1;
  }
  .carousel{
    max-width: 45%;
  }
}
@keyframes navAppear {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(35%);
  }
  75% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 426px) {
  .info-container{
    justify-content: center;
    >.carousel{
    max-width: max-content;
  }}
}